<!DOCTYPE html>
<html lang="en">
  <head>
   </head>
  <body>
    <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
      <form action="/" method="post" class="search">
        <div class="row">
          <div class="col-md">
            <div class="form-group">
              <div class="form-field">
                <input id="user_input"  name="input" type="text" class="form-control" placeholder="Search term...">
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <div class="form-field">
                <input id="submit" type="submit" value="Search" class="form-control btn btn-primary">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

		<section id="results_section" class="results_section">
			<div id="results_list" class="container">
				<div class="row">
          {% for hit in res['hits']['hits'] %}
            <div class="four">
              <div className="overlay-title">
                {% for title in  hit['_source']['title']  %}
                  <li class="title">{{title.title}}</li>
                {% endfor %}
              </div>
              <p>{{ hit['_source']['physicalDescription'] }}</p>
              <p>{{ hit['_source']['object'] }}</p>
                <div class="badge-wrap">
                  {% for category in  hit['_source']['categories']  %}
                    <li class="style">{{category.text}}</li>
                  {% endfor %}
                </div>
            </div>
            <div class="job-post-item-body d-block d-md-flex">
              <div class="mr-3"><i class="fa fa-arrow-up" aria-hidden="true"></i> <span>{{ hit['_source']['upvote'] }}</span></div>
              <div><span class="icon-layers"></span>score: <a href="/"> {{ hit['_score'] }}</a></div>
            </div>
          {% endfor %}
        </div>
      </div>
		</section>
  </body>
</html>